.conteiners{

	background-color: #747485;
	display: block;
	padding: 10px;
	display: flex;
	flex-direction: column;
	height: 100vh;

	
}
.botaoMais{

	background-color: transparent;
	border: 2px solid black;
	width: 5%;
	float: right;
	height: 35px;
	text-align: center;


}
.botaoMais:hover{

	background-color: blue;

}
.item{

	border: 2px solid black;
	background-color: transparent;
	margin: 10px;

}
.item-title{

	font-family: impact;
	font-weight: 200;

}
.background-item-title{

	text-align: center;
	border-bottom: 2px solid black;

}
.background-item-content{

	border-bottom: 2px solid black;
}
.item-aprove-btn{

	background-color: transparent;
	border: 2px solid black;
	font-weight: 700;

}
.item-aprove-btn:hover{

	background-color: blue;
	color: white;

}
.background-aprove-btn{

	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;

}
.painelBranco{

	background-color: blue;
	display: grid;
	padding: 10px;
	grid-template-columns: 25% 25% 25% 25%;
	height: 85%;


}
.painelToDo{

	overflow-y: auto;
	max-height: 90vh;
	grid-column-start: 1;
	grid-column-end: 2;
	background-color: white;
	border: 2px solid black;
	margin: 5px;


}
.painelInProgress{
	overflow-y: auto;
	max-height: 90vh;
	grid-column-start: 2;
	grid-column-end: 3;
	background-color: white;
	border: 2px solid black;
	margin: 5px;

}
.painelReview{
	overflow-y: auto;
	max-height: 90vh;
	grid-column-start: 3;
	grid-column-end: 4;
	background-color: white;
	border: 2px solid black;
	margin: 5px;

}
.painelComplete{
	overflow-y: auto;
	max-height: 90vh;
	grid-column-start: 4;
	grid-column-end: 5;
	background-color: white;
	border: 2px solid black;
	margin: 5px;

}
.backgroundTituloPainel{

	background-color: #747485;
	width: 100%;
	height: 6%;


}
.tituloPainel{

	margin-block-start: 0em;
	margin-block-end: 0em;
	text-align: center;
	color: white;
	font-family: impact;
	font-size: 20px;
	padding-top: 8px;
	padding-bottom: 8px;

}
.titulo{
	
	color: white;
	text-align: center;
	font-size: 30px;
	font-family: impact;
	width: 90%;
	float: inherit;
	margin-top: 1em;

}